[2021-06-20 10:18] agviegas opened #3 "IFC Model of intro pages does not load in Android when page visited for second time"
I've noticed that from a smartphone the BIM model of the intro is only loaded the first time the user navigates into the page. This is probably due to Chrome storing the page in the cache and not the IFC model. To reproduce this, simply visit the page for the second time in an android device.

It works if you get into the page in incognito mode or if deleting the history. It looks like it's due to

[2021-06-20 10:38] agviegas commented on #3
Solved by key={new Date().toString()} in the iframe!

[2021-06-20 10:49] agviegas commented on #3
Still happening.

[2021-06-24 17:43] agviegas opened #4 "Automatic translations"
It would be nice to automate the translations to multiple languages. This should be easily doable with [Deepl free API](https://www.deepl.com/pro?cta=header-prices/) and a node script:

[2021-07-04 19:45] agviegas commented on #3
Solved by using codepen for the 3d examples.

[2021-07-13 22:19] #3 closed

[2021-07-13 22:20] agviegas opened #7 "Update tutorial when new Three.js releases .131"

[2021-07-18 09:32] #7 closed

[2021-07-26 15:51] favreau84 opened #8 "[Tuto idea] Getting all properties of one element"
## Context

From a BIM viewer, by selecting one element in a 3D view, we typically get access to all its properties :

- the element "native" properties.
- the element type properties.
- specific properties defined in properties sets.

<img width="553" alt="image" src="https://user-images.githubusercontent.com/18169247/127018380-3e3b3aaf-5cb1-44c4-bc0d-fdb2755d6d6e.png">

## Tuto idea

It would be

[2021-07-28 17:59] pablo-mayrgundter opened #9 "API docs should include version #"
Per disussion here:

https://discord.com/channels/799990228336115742/799990228336115745

It would help to know what API version the docs are referring to.  Antonio says Docosaurus supports this, so should be just some tagging and part of the build config.

[2021-08-18 17:31] agviegas opened #11 "Specify that Three.js has to be imported with same version (it's a peer dependency)"

[2021-09-28 12:27] agviegas commented on #8
[There](https://ifcjs.github.io/info/docs/Guide/web-ifc-three/Tutorials/Properties) you go.

[2021-09-28 12:27] #8 closed

[2021-09-28 12:27] #11 closed

[2021-10-03 23:04] agviegas opened #13 "Correct translated docs links to point to translated links"

[2021-10-03 23:04] agviegas opened #14 "Update web-ifc-three API (now it's async)"

[2021-12-04 14:58] Notorious-BIM opened #17 "Dead link in Docs"
There is a link that has been moved by three.js and we should update our documentation so they don't need to pass through the re-route. ([See Preview](https://ifcjs.github.io/info/docs/Hello%20world))
![image](https://user-images.githubusercontent.com/93288718/144714140-213f5403-f01e-4563-8907-a38c23642c6c.png)

![image](https://user-images.githubusercontent.com/93288718/144714111-4a71ec50-1c97-4d

[2022-01-11 17:10] pablo-mayrgundter opened #18 "Please document JSON type definitions"
From discussion on discord:

https://discord.com/channels/799990228336115742/799990228336115745/930492434016772138

The Element properties returned by getItemProperties has a nested structure with some levels of indirection for simple vs complex value types.  I've tried reading through the code but it's not clear where this structure is defined. Would be good to have a reference on the docs site.

[2022-01-27 23:12] #13 closed

[2022-03-24 09:44] agviegas opened #23 "Document setupOptionalCategories"
Example: ifcLoader.ifcManager.parser.setupOptionalCategories({[IFCSPACE]: true, [IFCOPENINGELEMENT]: false});

[2022-03-24 19:21] agviegas opened #24 "Add customID parameter to getSubset in API page"

[2022-05-15 23:21] agviegas opened #25 "Web-ifc-viewer hello world tutorial"
## 📋 GENERAL:

- Bounties page: https://bounties.ifcjs.io/
- Required skills: `IFC.js`.
- Bounty: $100.

________________________________________________________________________

## ⚔ CHALLENGE:

We need more tutorials to show to the world how to use IFC.js and what can they do with it. We already have some tutorials in the documentation, so this is just a matter of creating a new one. For example

[2022-05-15 23:23] agviegas opened #26 "IFC.js + Cesium tutorial"
## 📋 GENERAL:

- Bounties page: https://bounties.ifcjs.io/
- Required skills: `IFC.js`.
- Bounty: $100.

________________________________________________________________________

## ⚔ CHALLENGE:

We need more tutorials to show to the world how to use IFC.js and what can they do with it. We already have some tutorials in the documentation, so this is just a matter of creating a new one. For example

[2022-05-15 23:25] agviegas opened #27 "web-ifc-viewer API page"
## 📋 GENERAL:

- Bounties page: https://bounties.ifcjs.io/
- Required skills: `IFC.js`.
- Bounty: $100.

________________________________________________________________________

## ⚔ CHALLENGE:

Document web-ifc-viewer API, like we did with web-ifc-three:

- https://ifcjs.github.io/info/docs/Guide/web-ifc-three/api

________________________________________________________________________

## 👩‍⚖️

[2022-05-15 23:28] agviegas opened #28 "web-ifc API"
## 📋 GENERAL:

- Bounties page: https://bounties.ifcjs.io/
- Required skills: `IFC.js`.
- Bounty: $100.

________________________________________________________________________

## ⚔ CHALLENGE:

Document web-ifc API, like we did with web-ifc-three:

- https://ifcjs.github.io/info/docs/Guide/web-ifc-three/api

________________________________________________________________________

## 👩‍⚖️ REQUIR

[2022-05-15 23:34] agviegas opened #29 "Automatic translation of docs"
## 📋 GENERAL:

- Bounties page: https://bounties.ifcjs.io/
- Required skills: `IFC.js`.
- Bounty: $100.

We need to be able to translate the documentation automatically. There is an official step-by-step guide on how to do this on docusaurus:

- https://docusaurus.io/docs/i18n/crowdin

[2022-05-15 23:37] agviegas opened #30 "web-ifc-viewer Floorplans Tutorial"
## 📋 GENERAL:

- Bounties page: https://bounties.ifcjs.io/
- Required skills: `IFC.js`.
- Bounty: $100.

________________________________________________________________________

## ⚔ CHALLENGE:

We need more tutorials to show to the world how to use IFC.js and what can they do with it. We already have some tutorials in the documentation, so this is just a matter of creating a new one. For example

[2022-05-15 23:42] agviegas opened #31 "B#10 web-ifc-viewer glTF Tutorial"
## 📋 GENERAL:

- Bounties page: https://bounties.ifcjs.io/
- Required skills: `IFC.js`.
- Bounty: $100.

________________________________________________________________________

## ⚔ CHALLENGE:

We need more tutorials to show to the world how to use IFC.js and what can they do with it. We already have some tutorials in the documentation, so this is just a matter of creating a new one. For example

[2022-05-15 23:43] agviegas opened #32 "web-ifc-viewer JSON property tutorial"
## 📋 GENERAL:

- Bounties page: https://bounties.ifcjs.io/
- Required skills: `IFC.js`.
- Bounty: $100.

________________________________________________________________________

## ⚔ CHALLENGE:

We need more tutorials to show to the world how to use IFC.js and what can they do with it. We already have some tutorials in the documentation, so this is just a matter of creating a new one. For example

[2022-05-15 23:43] agviegas opened #33 "web-ifc-viewer + mapbox tutorial"
## 📋 GENERAL:

- Bounties page: https://bounties.ifcjs.io/
- Required skills: `IFC.js`.
- Bounty: $100.

________________________________________________________________________

## ⚔ CHALLENGE:

We need more tutorials to show to the world how to use IFC.js and what can they do with it. We already have some tutorials in the documentation, so this is just a matter of creating a new one. For example

[2022-05-15 23:44] agviegas opened #34 "B#13 web-ifc-viewer Memory Disposal Tutorial"
## 📋 GENERAL:

- Bounties page: https://bounties.ifcjs.io/
- Required skills: `IFC.js`.
- Bounty: $100.

________________________________________________________________________

## ⚔ CHALLENGE:

We need more tutorials to show to the world how to use IFC.js and what can they do with it. We already have some tutorials in the documentation, so this is just a matter of creating a new one. For example

[2022-05-15 23:44] agviegas opened #35 "web-ifc-viewer picking / selection tutorial"
## 📋 GENERAL:

- Bounties page: https://bounties.ifcjs.io/
- Required skills: `IFC.js`.
- Bounty: $100.

________________________________________________________________________

## ⚔ CHALLENGE:

We need more tutorials to show to the world how to use IFC.js and what can they do with it. We already have some tutorials in the documentation, so this is just a matter of creating a new one. For example

[2022-05-15 23:45] agviegas opened #36 "B#18: web-ifc hello world Tutorial"
## 📋 GENERAL:

- Bounties page: https://bounties.ifcjs.io/
- Required skills: `IFC.js`.
- Bounty: $100.

________________________________________________________________________

## ⚔ CHALLENGE:

We need more tutorials to show to the world how to use IFC.js and what can they do with it. We already have some tutorials in the documentation, so this is just a matter of creating a new one. For example

[2022-05-15 23:46] agviegas opened #37 "web-ifc property reading tutorial"
## 📋 GENERAL:

- Bounties page: https://bounties.ifcjs.io/
- Required skills: `IFC.js`.
- Bounty: $100.

________________________________________________________________________

## ⚔ CHALLENGE:

We need more tutorials to show to the world how to use IFC.js and what can they do with it. We already have some tutorials in the documentation, so this is just a matter of creating a new one. For example

[2022-05-15 23:46] agviegas opened #38 "B#20: web-ifc Property Editing Tutorial"
## 📋 GENERAL:

- Bounties page: https://bounties.ifcjs.io/
- Required skills: `IFC.js`.
- Bounty: $100.

________________________________________________________________________

## ⚔ CHALLENGE:

We need more tutorials to show to the world how to use IFC.js and what can they do with it. We already have some tutorials in the documentation, so this is just a matter of creating a new one. For example

[2022-05-15 23:46] agviegas opened #39 "B#25: web-ifc-viewer + Socket.io Tutorial"
## 📋 GENERAL:

- Bounties page: https://bounties.ifcjs.io/
- Required skills: `IFC.js`.
- Bounty: $100.

________________________________________________________________________

## ⚔ CHALLENGE:

We need more tutorials to show to the world how to use IFC.js and what can they do with it. We already have some tutorials in the documentation, so this is just a matter of creating a new one. For example

[2022-05-17 02:05] nicoarellano commented on #31
Hi IFC.js team. I will like to take on this bounty @agviegas

[2022-05-17 02:07] nicoarellano commented on #26
Hi IFC.js team. I would like to take on this bounty.
@agviegas

[2022-05-17 05:35] izznatsir commented on #29
May I try to take this?

[2022-05-17 09:18] adamaymo opened #40 "Maintainer programme"
I am looking to contribute on the maintainer programme, specifically those tasks related to the design of new sections for the website (course, general page, etc.). I was not able to find the issues related to these bounties on any repository. Could you point me to where to find them?

Many thanks!

[2022-05-17 22:46] VladT7 commented on #40
Commenting as I would like to know as well!

Kind regards,
Vlad

[2022-05-18 02:50] schubert-da commented on #40
Same really, couldn't find any issues linked with them on the bounty board so wanted to ask here as well.

Thanks!

[2022-05-18 23:13] agviegas opened #41 "IFC.js jobs page"
## 📋 GENERAL:

- Required skills: `Nothing!`.
- Bounty: $100.

________________________________________________________________________

## ⚔ CHALLENGE:

We are going to publish a page to publish the job offers of companies and individuals looking for IFC.js devs to hire and collaborate. It will look similar to the crash course page:

- https://courses.ifcjs.io/crash-course

If you have never done

[2022-05-18 23:15] agviegas opened #42 "IFC.js Patreons Page"
## 📋 GENERAL:

- Required skills: `Nothing!`.
- Bounty: $100.

________________________________________________________________________

## ⚔ CHALLENGE:

We want to create a page to tell the world how the patreon system works. We need a page similar to the crash course.

- https://courses.ifcjs.io/crash-course

If you have never done a webpage before, don't worry because this is super easy and you

[2022-05-18 23:21] agviegas opened #43 "IFC.js general page"
## 📋 GENERAL:

- Required skills: `Nothing!`.
- Bounty: $100.

________________________________________________________________________

## ⚔ CHALLENGE:

We are going to publish an advanced BIM development course specialising in TypeScript, frontend, and React. We need a page similar to the crash course.

- https://courses.ifcjs.io/crash-course

If you have never done a webpage before, don't worry

[2022-05-18 23:23] agviegas opened #44 "BIM Frontend Stack Course Page"
## 📋 GENERAL:

- Required skills: `Nothing!`.
- Bounty: $100.

________________________________________________________________________

## ⚔ CHALLENGE:

We are going to publish an advanced BIM development course specialising in TypeScript, frontend, and React. We need a page similar to the crash course to announce it.

- https://courses.ifcjs.io/crash-course

If you have never done a webpage befo

[2022-05-18 23:26] agviegas opened #45 "B#21: Contribute to web-ifc Guide"
## 📋 GENERAL:

- Bounties page: https://bounties.ifcjs.io/
- Required skills: `IFC.js`.
- Bounty: $100.

________________________________________________________________________

## ⚔ CHALLENGE:

We a guide for the people that want to contribute to the project. We already have step-by-step tutorials published:

- https://ifcjs.github.io/info/docs/Hello%20world

But this one wouldn't be a tutorial

[2022-05-18 23:35] agviegas opened #46 "B#22: Contribute to web-ifc-three Guide"
## 📋 GENERAL:

- Bounties page: https://bounties.ifcjs.io/
- Required skills: `IFC.js`.
- Bounty: $100.

________________________________________________________________________

## ⚔ CHALLENGE:

We a guide for the people that want to contribute to the project. We already have step-by-step tutorials published:

- https://ifcjs.github.io/info/docs/Hello%20world

But this one wouldn't be a tutorial

[2022-05-18 23:36] agviegas opened #47 "B#23: Contribute to web-ifc-viewer Guide"
## 📋 GENERAL:

- Bounties page: https://bounties.ifcjs.io/
- Required skills: `IFC.js`.
- Bounty: $100.

________________________________________________________________________

## ⚔ CHALLENGE:

We a guide for the people that want to contribute to the project. We already have step-by-step tutorials published:

- https://ifcjs.github.io/info/docs/Hello%20world

But this one wouldn't be a tutorial

[2022-05-18 23:49] agviegas opened #48 "Automate Airtable"
📋 GENERAL:

- Bounties page: https://bounties.ifcjs.io/
- Required skills: `C++`.
- Bounty: $200.

Right now we are using Airtable to manage the database of people who use the library, who do the courses, etc. We want to automate this to do things like, for example, when someone assigns themselves the github issue, airtable updates automatically.

For more information, please contact us.

[2022-05-19 00:44] schubert-da commented on #43
I would like to take this up @agviegas .
Should be able to deliver it in a week from getting the starting material.

[2022-05-19 01:17] rfdiazpr commented on #44
I am interested in this bounty.

[2022-05-19 01:21] izznatsir commented on #48
May I take this as well? I will start working on it next week.

[2022-05-19 01:29] agviegas commented on #44
It's all yours ~ @rfdiazpr do you have Discord? So we can tell you more details. 😊

[2022-05-19 01:36] rfdiazpr commented on #44
Yes - rfdiaz

[2022-05-19 01:53] izznatsir commented on #48
I do have. I'm izznatsir also on Discord.

[2022-05-19 03:07] bluecondor commented on #42
Hi! I could help out with this! I could do it by end of May.

P.S. I think the description of the task is copied and pasted from another task, but we can sort this out on discord :)

[2022-05-19 05:24] VladT7 commented on #41
I'm interested in taking a crack at this! Looking to be done by 22:00 MST May 21.

[2022-05-19 12:42] aka-blackboots commented on #37
Let me know @agviegas if this is what you're looking for, I tried recreating it like what forge does. If this is what is needed I can contribute to this and will create more nice UI and UX for it.

1. Item Properties
2. Element Properties
3. Material Properties
4. Psets

![Screenshot (383)](https://user-images.githubusercontent.com/47943405/169295384-a53addbd-c8cd-4fee-a13b-4153526c103c.png)

[2022-05-19 20:52] Tubiotitooluwa commented on #42
Hi Antonio, I would love to get on this one. I have experience putting together presentation decks and a no code Web editor should be fun.
I can start by weekend if that is ok.
Cheers!.

[2022-05-20 07:31] mirabotseva commented on #41
Hi, I would like to take this bounty. Would get it done by 23:00 CEST, May 22.

[2022-05-20 07:32] mirabotseva commented on #42
Hi, I would like to take this bounty. Would get it done by 23:00 CEST, May 25.

[2022-05-20 07:34] mirabotseva commented on #43
Hi, I would like to take this bounty. Would get it done by 23:00 CEST, May 25.

[2022-05-20 08:11] izznatsir commented on #29
Does IFCjs has a Crowdin account set up?

Right now, I'm using my personal account on my fork.

[2022-05-20 08:36] izznatsir commented on #29
In case the account is not set up yet, here is the link to create new account for enterprise project:

https://crowdin.com/page/open-source-project-setup-request

Fortunately, it's completely free!

[2022-05-20 08:38] agviegas commented on #29
Hey @izznatsir sorry, I've been busy these days, but this afternoon we could talk about this. Do you have Discord? Feel free to reach me (ansoni#0001). Cheers!

[2022-05-20 08:41] izznatsir commented on #29
Allright, I'll contact you later! What timezone are you at? In case our afternoon is different.

[2022-05-20 12:08] agviegas commented on #43
Hi @mirabotseva! Thanks for applying for this bounty. Unfortunately, this bounty is already taken by @schubert-da. No worries, because we'll keep publishing bounties like this. If you want to get updated before anyone else, you can subscribe to the bounty mailist: https://bounties.ifcjs.io/ .

[2022-05-20 12:11] agviegas commented on #42
Hi @mirabotseva and @Tubiotitooluwa! Thanks for applying for this bounty. Unfortunately, this bounty is already taken by @bluecondor. No worries, because we'll keep publishing bounties like this. If you want to get updated before anyone else, you can subscribe to the bounty mailist: https://bounties.ifcjs.io/ .

[2022-05-20 12:12] agviegas commented on #41
Hi @mirabotseva ! Thanks for applying for this bounty. Unfortunately, this bounty is already taken by @bluecondor. No worries, because we'll keep publishing bounties like this. If you want to get updated before anyone else, you can subscribe to the bounty mailist: https://bounties.ifcjs.io/ .

[2022-05-20 12:14] agviegas commented on #37
Hi @aka-blackboots! That looks great, but what we need is something focused on web-ifc. Something like [this](https://github.com/tomvandig/web-ifc/blob/main/examples/usage/src/properties.ts). So no 3d, just IFC analysis. If you are up for it, I'll assign the tutorial to you!

[2022-05-20 12:15] #40 closed

[2022-05-20 12:15] #14 closed

[2022-05-20 12:16] #17 closed

[2022-05-20 15:13] Tubiotitooluwa commented on #42
Thank you for the update Antonio.
Looking forward to the next bounty!

[2022-05-20 22:55] agviegas commented on #41
Hey @VladT7 do you have Discord? We are assembling a group with the other people that are helping with the pages to give you some indications 🙂

[2022-05-21 05:34] VladT7 commented on #41
Hi Antonio, I'm already on the IFC.js server! My username is ShrigmaMale
but I changed my nickname to Vlad. Looking forward to meeting the rest of
the team!

On Fri, May 20, 2022 at 4:55 PM Antonio González Viegas <
***@***.***> wrote:

[2022-05-21 07:16] AnweshGangula commented on #25
Hi, I will work on this tutorial and get it done by Tuesday May 24, 2022

[2022-05-21 07:39] aka-blackboots opened #49 "Side Bar Position Same for Hello World and Courses"

[2022-05-21 13:30] agviegas commented on #42
@Tubiotitooluwa this issue is available again, in case you'd like to take it (you were the second one to comment).

[2022-05-21 14:38] agviegas opened #50 "IFC.js contact page"
## 📋 GENERAL:

- Required skills: `Nothing!`.
- Bounty: $100.

________________________________________________________________________

## ⚔ CHALLENGE:

We want to create a page to tell the world how to contact us. We need a page similar to the crash course.

- https://courses.ifcjs.io/crash-course

If you have never done a webpage before, don't worry because this is super easy and you don't need

[2022-05-21 14:52] agviegas commented on #25
Fantastic @AnweshGangula! It's yours.

[2022-05-21 15:36] rfdiazpr commented on #50
@agviegas i would also like to do this one

[2022-05-21 16:15] agviegas commented on #50
All yours @rfdiazpr!

[2022-05-21 20:49] Tubiotitooluwa commented on #42
Hi Antonio,
Absolutely! Rank you for the offer.

[2022-05-21 20:51] agviegas commented on #42
@Tubiotitooluwa great! Are you in the discord server? If you speak to me (ansoni#0001) I'll bring you to the group where we're gathering all the page designers.

[2022-05-21 21:06] Tubiotitooluwa commented on #42
@agviegas I just did

[2022-05-21 21:10] Tubiotitooluwa commented on #42
I am not on the discord server, care to share?

[2022-05-23 23:35] ShaneBrumback commented on #30
I will take this one.  When is it due?

[2022-05-23 23:37] ShaneBrumback commented on #30
My wife is an interior designer. I can create a lot of these tutorials if you need a variety of content for floor plans.

[2022-05-24 12:27] AnweshGangula commented on #25
@agviegas, I've added the documentation and created a PR here #52

[2022-05-24 17:09] Jsanchez4 commented on #27
Hi Antonio, I'll take care of this one! It will be ready for 30.05 max

[2022-05-24 23:39] agviegas commented on #25
Awesome! We'll review it these days and let you know 😁 it looks good!

Obtener Outlook para Android<https://aka.ms/AAb9ysg>
________________________________
From: Anwesh Gangula ***@***.***>
Sent: Tuesday, May 24, 2022 2:27:20 PM
To: IFCjs/info ***@***.***>
Cc: Antonio González Viegas ***@***.***>; Mention ***@***.***>
Subject: Re: [IFCjs/info] Web-ifc-viewer hello world tutorial (Issue #25)

@agv

[2022-05-25 10:56] ShaneBrumback commented on #30
Sorry I am unavailable to take this one I will try for another opportunity.

[2022-05-25 13:25] rfdiazpr commented on #30
I would like to give it a shot.

[2022-05-29 00:08] VladT7 commented on #41
Finished the page - you can find it on mailerlite under Websites > Jobs | IFC.js . I've left the "testimonials carousel" in as I think this could be a good place to showcase people who found jobs through our community - but it can be removed entirely.

Also, I didn't touch any of the SEO page settings (not sure if we were supposed to) - so the page summary will still point to the IFC.js course des

[2022-05-30 03:36] DrSensor commented on #36
Hi, can I grab this issue?

Also, does the tutorial need to target nodejs too? Or just browser? 🤔
Asking since I just notice there is `node` folder in the examples/web-ifc/ifc-to-json/

[2022-05-30 10:31] DrSensor commented on #38
I can also work on this tutorial in the next week. I estimate it will be done in a week or less.

[2022-05-30 19:56] Shalwaban commented on #33
working on this til Sun June 5th

[2022-05-30 20:15] Shalwaban commented on #35
working on this !

[2022-05-31 00:19] DrSensor commented on #36
Nevermind, I've made a draft for this tutorial and explaining how it can be used in the backend or script for automation seems interesting.

I can finish the tutorial before Sunday, 5 June 2022

[2022-05-31 16:43] lewibs opened #56 "discrepancy between getSubset documentation and genuine api"
the info api lacks the optional material id field

[2022-06-01 09:03] agviegas commented on #38
All yours @DrSensor !

[2022-06-01 09:06] agviegas commented on #36
Hey @DrSensor right now IFC.js is more focused towards frontend, so it would be great if this tutorial covered at least a frontend hello world. If you also did the backend, we can add that as part of this same tutorial, so it would cover the very basics of both things. 🙂

[2022-06-03 13:04] seantai commented on #32
working on this

[2022-06-03 13:08] seantai commented on #34
working on this

[2022-06-03 20:04] Shalwaban commented on #35
submitted pull request for the Doc portion under my real github account.
any feedback appreciated.

[2022-06-03 20:13] seantai commented on #35
also submitted example in hello-world

[2022-06-05 10:36] seantai commented on #33
added this, it looks like it got merged with this other pull request https://github.com/IFCjs/info/pull/58

[2022-06-08 19:05] agviegas commented on #34
All yours @seantai !

[2022-06-08 19:32] agviegas commented on #35
@seantai I added some comments to the PR!

[2022-06-08 19:41] agviegas commented on #33
@seantai  No problem, I the mapbox tutorial looks super good! The picking example has some suggestions. When you implement them, I'll merge everything and you'll get both bounties. 🙂 Contact us if you have any questions. Cheers!

[2022-06-08 23:18] agviegas commented on #41
Fantastic job!

[2022-06-08 23:18] #41 closed

[2022-06-16 22:40] #4 closed

[2022-06-16 22:42] #56 closed

[2022-06-16 22:42] agviegas commented on #26
Hey @nicoarellano how is this going? Any estimated date for this? Cheers!

[2022-06-16 22:43] agviegas commented on #31
Hey @nicoarellano how is this going? Any estimated date for this? Cheers!

[2022-06-16 22:43] agviegas commented on #30
Hey @rfdiazpr how is this going? Any estimated date for this? If you have questions, don't hesitate to reach out! Cheers

[2022-06-16 22:48] #35 closed

[2022-06-16 22:48] #33 closed

[2022-06-16 22:49] agviegas commented on #38
Hey @DrSensor how are you going with this? No rush, just to confirm you are still on this 🙂 Cheers!

[2022-06-16 22:50] agviegas commented on #34
Hey @seantai how are you going on this one? No rush whatsoever, just to confirm that you are still on this 🙂 Cheers

[2022-06-16 22:51] agviegas commented on #36
Hey @DrSensor how is this going? Any estimated date for this? No rush, just to confirm that you are still on this. Cheers!

[2022-06-16 22:52] #37 closed

[2022-06-17 06:09] seantai commented on #34
Will finish this one now that the other 2 just got confirmed. Wanted to make sure I was following a correct format.

[2022-06-17 06:24] hey24sheep opened #60 "IFC.js add supported IFC version in docs"
Hi, could you please add "we only support IFC from IFC2x3" to the docs.

Also, you could add "how to check the version"
- You can see the version opening the IFC with a text editor, it's somewhere at the top.

Reference [issue](https://github.com/tomvandig/web-ifc/issues/83#issuecomment-1156262449)

[2022-06-18 07:07] seantai commented on #39
i'm going to hop on this one

[2022-06-18 09:38] agviegas commented on #39
Ok @seantai!

[2022-06-20 06:23] Jsanchez4 commented on #28
I would like to take on this task. I can have it by 06/24

[2022-06-21 14:48] rfdiazpr commented on #30
"ceteris paribus" - next week; will keep you posted.

[2022-06-24 09:17] jmcouffin commented on #48
That coulb be in you backyard @izznatsir
I mentioned it to @agviegas in PM in discord already

Looking quickly at the bounty page on airtable page, the  Title of the bounty is not showing anymore, only the github # for the issue.
I could fix that if you give me access. But I guess this is a very quick fix

![image](https://user-images.githubusercontent.com/7872003/175504912-5486351b-0f74-4b62-a650

[2022-06-24 09:19] izznatsir commented on #48
Oh sorry about that, I will fix that now

On Fri, Jun 24, 2022, 16:17 Jean-Marc Couffin ***@***.***>
wrote:

[2022-06-24 09:33] jmcouffin commented on #48
Yes, it is fine on my side too.
Good Job @izznatsir

[2022-07-02 09:14] pratik2315 commented on #50
Hey there! I saw that this no work was done on this issue😅 If @agviegas is busy, I would love to start working on this issue!

[2022-07-06 09:04] agviegas commented on #50
Hy @pratik2315 this is already assigned to @rfdiazpr. Nevertheless, stay tuned, as we will surely publish other similar bounties. Cheers!

[2022-07-07 10:24] Jsanchez4 commented on #47
I'll take care of this ;)

[2022-07-07 11:07] pratik2315 commented on #46
Hey! I am interested to work on this

[2022-07-21 08:36] pkpndy commented on #45
@agviegas I can do this. Can you please assign this to me?

[2022-07-21 09:06] pkpndy commented on #46
@agviegas Can I take this?

[2022-07-24 19:28] seantai commented on #39
I'm going to open this one back up to whoever else wants it, it's a bit too outside of my knowledge base.

[2022-07-25 02:53] aka-blackboots commented on #39
Hey @agviegas, I would solve this.

[2022-07-28 08:33] agviegas commented on #45
Hi @pkpndy, sure. When do you plan to have this done?

[2022-07-28 08:34] agviegas commented on #46
Hi @pratik2315 you commented first, so you have priority. When do you estimate to have this done? Cheers!

[2022-07-28 15:46] agviegas opened #64 "B#68: Test automatic fake bounty"
## ☀ Info

- Bounty: $100
- Area: Docs
- Required skills: IFC.js
- Manager: @agviegas
- Bounties page: https://bounties.ifcjs.io

## 📜 Notes

⚔ CHALLENGE:

This is a test automatic bounty, please ignore this. We already have some tutorials in the documentation, so this is just a matter of creating a new one. For example:

- https://ifcjs.github.io/info/docs/Hello%20world

The tutorial should be ma

[2022-07-28 15:46] agviegas commented on #64
## 🤖 Bounty Bot

To interact with the bounty bot to manipulate this bounty, send a comment that only contains one of these commands:

### ::take

Assign yourself to the bounty. The due date of your assignment is the next 21st date UTC.

Requirements:
- Sender: Anyone
- Status: Available

### ::extend

Extend the due date by 21 days. Can only be done once.

Requirements:
- Sender: Assignee
- Status

[2022-07-28 15:48] izznatsir commented on #64
::take

[2022-07-28 15:53] izznatsir commented on #64
::take

[2022-07-28 16:00] izznatsir commented on #64
::take

[2022-07-28 16:01] izznatsir commented on #64
::take

[2022-07-28 16:02] agviegas commented on #64
### 🟢🟢🟢

Hi, @agviegas! Thanks for taking this bounty! The due date is August 18, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not need

[2022-07-28 16:03] agviegas commented on #64
### 🟢🟢🟢

Hi, @izznatsir! Thanks for taking this bounty! The due date is August 18, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not nee

[2022-07-28 16:05] izznatsir commented on #64
::drop

[2022-07-28 16:09] izznatsir commented on #64
::drop

[2022-07-28 16:12] izznatsir commented on #64
::drop

[2022-07-28 16:12] agviegas commented on #64
### 🟢🟢🟢

Hi, @izznatsir! Thanks for giving it a try! It’s now once again available for anyone to take.

[2022-07-28 16:13] izznatsir commented on #64
::take

[2022-07-28 16:13] agviegas commented on #64
### 🟢🟢🟢

Hi, @izznatsir! Thanks for taking this bounty! The due date is August 18, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not nee

[2022-07-28 16:15] izznatsir commented on #64
::drop

[2022-07-28 16:15] agviegas commented on #64
### 🟢🟢🟢

Hi, @izznatsir! Thanks for giving it a try! It’s now once again available for anyone to take.

[2022-07-28 16:16] izznatsir commented on #64
::take

[2022-07-28 16:16] agviegas commented on #64
### 🟢🟢🟢

Hi, @izznatsir! Thanks for taking this bounty! The due date is August 18, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not nee

[2022-07-28 16:17] izznatsir commented on #64
::extend

[2022-07-28 16:17] agviegas commented on #64
### 🔴🔴🔴

Hi, @izznatsir! The due date can only be extended once.

[2022-07-28 16:19] izznatsir commented on #64
::extend

[2022-07-28 16:19] agviegas commented on #64
### 🔴🔴🔴

Hi, @izznatsir! The due date can only be extended once.

[2022-07-28 16:20] izznatsir commented on #64
::extend

[2022-07-28 16:20] agviegas commented on #64
### 🟢🟢🟢

Hi, @izznatsir! The due date is successfully extended by 21 days to September 8, 2022 UTC.

[2022-07-28 16:22] izznatsir commented on #64
::freeze

[2022-07-28 16:23] agviegas commented on #64
::freeze

[2022-07-28 16:23] agviegas commented on #64
### 🟢🟢🟢

Hi, @izznatsir! The clock has been frozen. The due date will be adjusted once the `::unfreeze` command is executed.

[2022-07-28 16:23] agviegas commented on #64
::unfreeze

[2022-07-28 16:23] agviegas commented on #64
### 🟢🟢🟢

Hi, @izznatsir!  The due date has been adjusted to September 8, 2022 UTC. The clock is now ticking!

[2022-07-28 16:27] agviegas commented on #64
::done

[2022-07-28 16:27] izznatsir commented on #64
::done

[2022-07-28 16:27] agviegas commented on #64
### 🟢🟢🟢

Hi, @izznatsir! Thanks for your contributions! Please submit an expense to IFC.js Open Collective. Then, tell us the invoice number via the `::expense::_____` command (replace the `_____` with the invoice number).

[2022-07-28 16:27] agviegas commented on #64
::undone

[2022-07-28 16:27] agviegas commented on #64
### 🟢🟢🟢

Hi, @izznatsir! The bounty's status has been reverted back to in progress. The due date is August 4, 2022 UTC.

[2022-07-28 16:30] agviegas commented on #64
::done

[2022-07-28 16:30] agviegas commented on #64
### 🟢🟢🟢

Hi, @izznatsir! Thanks for your contributions! Please submit an expense to IFC.js Open Collective. Then, tell us the invoice number via the `::expense::_____` command (replace the `_____` with the invoice number).

[2022-07-28 16:30] agviegas commented on #64
::undone

[2022-07-28 16:30] agviegas commented on #64
### 🟢🟢🟢

Hi, @izznatsir! The bounty's status has been reverted back to in progress. The due date is August 4, 2022 UTC.

[2022-07-28 16:31] agviegas commented on #64
::done

[2022-07-28 16:31] agviegas commented on #64
### 🟢🟢🟢

Hi, @izznatsir! Thanks for your contributions! Please submit an expense to IFC.js Open Collective. Then, tell us the invoice number via the `::expense::_____` command (replace the `_____` with the invoice number).

[2022-07-28 16:31] agviegas commented on #64
::undone

[2022-07-28 16:31] agviegas commented on #64
### 🟢🟢🟢

Hi, @izznatsir! The bounty's status has been reverted back to in progress. The due date is August 4, 2022 UTC.

[2022-07-28 16:34] agviegas commented on #64
::done

[2022-07-28 16:34] agviegas commented on #64
### 🟢🟢🟢

Hi, @izznatsir! Thanks for your contributions! Please submit an expense to IFC.js Open Collective. Then, tell us the invoice number via the `::expense::_____` command (replace the `_____` with the invoice number).

[2022-07-28 16:34] izznatsir commented on #64
::expense::00000

[2022-07-28 16:39] agviegas commented on #64
### 🟢🟢🟢

Hi, @izznatsir! Thanks for the confirmation! We’ll proceed to review the expense. Once it’s approved, the payment will be scheduled.

[2022-07-28 16:43] izznatsir commented on #64
::expense::10000

[2022-07-28 16:43] agviegas commented on #64
### 🟢🟢🟢

Hi, @izznatsir! Thanks for the confirmation! We’ll proceed to review the expense. Once it’s approved, the payment will be scheduled.

[2022-07-28 16:48] izznatsir commented on #64
::expense::10000

[2022-07-28 16:49] agviegas commented on #64
### 🟢🟢🟢

Hi, @izznatsir! Thanks for the confirmation! We’ll proceed to review the expense. Once it’s approved, the payment will be scheduled.

[2022-07-28 16:50] izznatsir commented on #64
::expense::10000

[2022-07-28 16:50] agviegas commented on #64
### 🟢🟢🟢

Hi, @izznatsir! Thanks for the confirmation! We’ll proceed to review the expense. Once it’s approved, the payment will be scheduled.

[2022-07-28 16:52] izznatsir commented on #64
::expense::10000

[2022-07-28 16:52] agviegas commented on #64
### 🟢🟢🟢

Hi, @izznatsir! Thanks for the confirmation! We’ll proceed to review the expense. Once it’s approved, the payment will be scheduled.

[2022-07-28 16:56] izznatsir commented on #64
::expense::10000

[2022-07-28 16:56] agviegas commented on #64
### 🟢🟢🟢

Hi, @izznatsir! Thanks for the confirmation! We’ll proceed to review the expense. Once it’s approved, the payment will be scheduled.

[2022-07-28 17:02] izznatsir commented on #64
::expense::10000

[2022-07-28 17:02] agviegas commented on #64
### 🟢🟢🟢

Hi, @izznatsir! Thanks for the confirmation! We’ll proceed to review the expense. Once it’s approved, the payment will be scheduled.

[2022-07-28 17:56] izznatsir commented on #64
::expense::10000

[2022-07-28 17:58] izznatsir commented on #64
::expense::10000

[2022-07-28 17:58] agviegas commented on #64
### 🔴🔴🔴

Hi, @izznatsir! We cannot find the expense with that invoice number. Please re-check the invoice number and re-send the command using the correct one.

[2022-07-28 17:58] izznatsir commented on #64
::expense::3453443

[2022-07-28 17:58] agviegas commented on #64
### 🔴🔴🔴

Hi, @izznatsir! We cannot find the expense with that invoice number. Please re-check the invoice number and re-send the command using the correct one.

[2022-07-28 18:08] izznatsir commented on #64
::expense::82762

[2022-07-28 18:08] agviegas commented on #64
### 🔴🔴🔴

Hi, @izznatsir! We cannot find a new expense with that invoice number. Please re-check the invoice number and re-send the command using the correct one.

[2022-07-30 06:34] pratik2315 commented on #46
Hey thanks! I don't know how I missed this notification. I suppose this is a docs issue related to making a detailed contribution guide for web-ifc-three right? Can I sort of get a second explanation of what specifically I will be working upon (github contribution guide or gitlab etc.) and how long the document should be and whether it will include any tutorials. Thanks

[2022-07-30 06:51] pratik2315 commented on #46
Here's some of the sections I think it should contain. Can you please review it and add/remove anything wrong. Thanks, as for the timeline, I think it should be done within the first week of august.

• Setting up the repo - Fork, Clone and adding upstream connection to the repo
• Work specific to ifc-three - These section will contain steps specific to ifc-three. For eg. Any npm libraries a develo

[2022-07-30 17:11] pkpndy commented on #45
Thanks @agviegas , well I am thinking of doing this by the end of upcoming week.

Can I get few more details about the contribution? Like what kind of things are to be included.
Setting up the repo, practices to be followed, libraries to be installed, code of conduct, discord and communication channels, how to create a new issue.

[2022-07-31 15:32] agviegas commented on #64
!::undone

[2022-07-31 15:35] agviegas commented on #64
::undone

[2022-07-31 15:40] agviegas commented on #64
### 🟢🟢🟢

Hi, @izznatsir! The bounty's status has been reverted back to in progress. The due date is August 7, 2022 UTC.

[2022-07-31 15:42] agviegas commented on #64
::freeze

[2022-07-31 15:42] agviegas commented on #64
### 🟢🟢🟢

Hi, @izznatsir! The clock has been frozen. The due date will be adjusted once the `::unfreeze` command is executed.

[2022-07-31 15:45] agviegas commented on #64
::unfreeze

[2022-07-31 15:45] agviegas commented on #64
### 🟢🟢🟢

Hi, @izznatsir!  The due date has been adjusted to August 8, 2022 UTC. The clock is now ticking!

[2022-07-31 15:53] agviegas commented on #64
### 🔴🔴🔴

Hi, @izznatsir! The date is past due, your assignment has been revoked. It’s now available for anyone to take.

[2022-07-31 16:05] izznatsir commented on #48
::expense::88334

[2022-07-31 16:08] izznatsir commented on #48
::expense::88334

[2022-07-31 16:08] agviegas commented on #48
### 🟢🟢🟢

Hi, @izznatsir! Thanks for the confirmation! We’ll proceed to review the expense. Once it’s approved, the payment will be scheduled.

[2022-07-31 16:19] agviegas commented on #48
### 🟢🟢🟢

Hi, @izznatsir! Your expense has been approved!

[2022-07-31 17:30] #64 closed

[2022-08-01 10:31] agviegas opened #65 "B#69: Create tutorial for handling bounties"
## ☀ Info

- Bounty: $100
- Area: Docs
- Required skills: Nothing!
- Manager: @agviegas
- Bounties page: https://bounties.ifcjs.io

## 📜 Notes

⚔ CHALLENGE:

We need more tutorials to show to the world how to use IFC.js and what can they do with it. We already have some tutorials in the documentation, so this is just a matter of creating a new one. For example:

- https://ifcjs.github.io/info/docs

[2022-08-01 10:32] agviegas commented on #65
## 🤖 Bounty Bot

To interact with the bounty bot to manipulate this bounty, send a comment that only contains one of these commands:

### ::take

Assign yourself to the bounty. The due date of your assignment is the next 21st date UTC.

Requirements:
- Sender: Anyone
- Status: Available

### ::extend

Extend the due date by 21 days. Can only be done once.

Requirements:
- Sender: Assignee
- Status

[2022-08-01 10:33] Jsanchez4 commented on #65
::take

[2022-08-01 10:33] agviegas commented on #65
### 🟢🟢🟢

Hi, @Jsanchez4! Thanks for taking this bounty! The due date is August 22, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not nee

[2022-08-01 12:57] agviegas commented on #65
🟢🟢🟢

Hi, @Jsanchez4! Thanks for your contributions! Please submit an expense to IFC.js Open Collective. Then, tell us the invoice number via the `::expense::_____` command (replace the `_____` with the invoice number).

[2022-08-01 15:30] agviegas commented on #46
Hey @pratik2315 sorry for the delay in the response! All those points should great. In addition to what you mention, I would also include the use of yarn to build the repo, and not npm. Let me know if you have any questions regarding any of this! 👌

[2022-08-01 15:33] #25 closed

[2022-08-01 15:34] agviegas commented on #30
Hey @rfdiazpr how is this going?

[2022-08-01 15:35] pratik2315 commented on #46
Thanks! I'll add that instead of npm👍
I am still confused about in what repository should I include the contribution document? Is it:

• Ifcjs/info or
• ifcjs/helloworld

[2022-08-01 15:38] #50 closed

[2022-08-01 15:39] agviegas commented on #45
Hey @pkpndy, sure! You should include:
- How to clone the repository locally
- How to build it locally (either with emscripten or with docker)
- How to write code on it (preferably using an IDE that has a C++ compiler, or use docker)
- How to create a branch and submit the PR

[2022-08-01 15:40] #43 closed

[2022-08-01 15:40] #42 closed

[2022-08-01 15:40] pratik2315 commented on #46
As for the deadline, can I get this done by 15th august? I know it may seem too much time for a contribution page but im still getting familiar with how the IFC community functions. And I want to perfect the contribution section and hence dont want to rush it😅

[2022-08-01 15:42] agviegas commented on #36
I'm opening this again!

[2022-08-01 15:42] agviegas commented on #38
I'm opening this again!

[2022-08-02 09:02] agviegas commented on #48
### 🎉🎉🎉

Hi, @izznatsir! Thanks for your contributions! The reward of this bounty has been transferred to your Open Collective account.

[2022-08-02 09:02] #48 closed

[2022-08-02 09:50] agviegas commented on #65
### 🟢🟢🟢

Hi, @Jsanchez4! Thanks for the confirmation! We’ll proceed to review the expense. Once it’s approved, the payment will be scheduled.

[2022-08-02 09:56] agviegas commented on #65
### 🟢🟢🟢

Hi, @Jsanchez4! Your [expense](https://opencollective.com/ifcjs/expenses/88676) has been approved!

[2022-08-03 15:33] arunkvijay commented on #32
Hi @agviegas , I would like to go for this.

[2022-08-04 23:17] rfdiazpr commented on #30
Almost complete. Should upload it soon.

[2022-08-04 23:54] agviegas commented on #47
::take

[2022-08-04 23:54] agviegas commented on #47
### 🟢🟢🟢

Hi, @agviegas! Thanks for taking this bounty! The due date is August 25, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not need

[2022-08-04 23:54] agviegas commented on #47
::drop

[2022-08-04 23:54] agviegas commented on #47
### 🟢🟢🟢

Hi, @agviegas! Thanks for giving it a try! It’s now once again available for anyone to take.

[2022-08-05 00:00] agviegas commented on #46
@pratik2315 Sorry, the text for the tutorials is generic. The guide can be just a page of this repository, don't worry about the examples (helloworld)!

Also, we have just automated the bounty system :) Create a comment just containing the text `::take` and you will be good to go. You can see an example of that [here](https://github.com/ifcjs/info/issues/47#issuecomment-1205890048). Let me know if

[2022-08-05 00:05] agviegas commented on #45
Hey @pkpndy we have just automated the bounty system :) Create a comment just containing the text ::take and you will be good to go. You can see an example of that [here](https://github.com/ifcjs/info/issues/47#issuecomment-1205890048). Let me know if you have any questions!

[2022-08-05 00:19] agviegas commented on #38
Hi @HassanEmam sure! We have just automated the bounty system :) Create a comment just containing the text `::take` and you will be good to go. You can see an example of that [here](https://github.com/ifcjs/info/issues/47#issuecomment-1205890048). Let me know if you have any other questions!

[2022-08-05 00:49] HassanEmam commented on #38
::take

[2022-08-05 01:22] pkpndy commented on #45
::take

[2022-08-05 01:22] agviegas commented on #45
### 🟢🟢🟢

Hi, @pkpndy! Thanks for taking this bounty! The due date is August 26, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not need t

[2022-08-05 01:28] agviegas commented on #65
### 🎉🎉🎉

Hi, @Jsanchez4! Thanks for your contributions! The reward of this bounty has been transferred to your Open Collective account.

[2022-08-05 01:28] #65 closed

[2022-08-05 01:45] pkpndy commented on #45
Thanks @agviegas , I also checked the example you mentioned.

[2022-08-05 01:56] pkpndy commented on #32
Hi @arunkvijay , Comment "::take" and you will be auto assigned by bot.

[2022-08-05 02:00] pkpndy commented on #32
Hi @arunkvijay , Comment `:take` and you will be auto assigned by bot.

[2022-08-05 02:06] pkpndy commented on #45
Thanks @agviegas , I checked the example you mentioned. Do you want me to mention about this `::take` , `::drop` and `::done` automated system in the contribution guide?

[2022-08-05 03:01] aka-blackboots commented on #39
::take

[2022-08-05 03:50] arunkvijay commented on #32
:take

[2022-08-05 03:54] agviegas commented on #32
### 🟢🟢🟢

Hi, @arunkvijay! Thanks for taking this bounty! The due date is August 26, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not ne

[2022-08-05 04:31] aka-blackboots commented on #39
::take

[2022-08-05 10:14] jailln opened #70 "IFCjs + iTowns tutorial"
[iTowns](http://www.itowns-project.org/itowns/examples/index.html) is a javascript framework, built upon threejs, to visualize 2D and 3D GIS data (see [examples](http://www.itowns-project.org/itowns/examples/index.html)).

I think we should create a tutorial for using `IFC.js` with iTowns, the same way one is being created [to use it with Cesium](https://github.com/IFCjs/info/issues/26).

[2022-08-05 10:43] pratik2315 commented on #46
Understood! Thanks a lot for all the explanations. Will submit a PR on it tomorrow to show all the progress.

[2022-08-05 10:45] pratik2315 commented on #46
::take

[2022-08-05 10:45] agviegas commented on #46
### 🟢🟢🟢

Hi, @pratik2315! Thanks for taking this bounty! The due date is August 26, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not ne

[2022-08-05 11:54] HassanEmam commented on #38
I have made a PR for the documentation here and the code in the hello-world repo

[2022-08-05 18:11] agviegas commented on #39
::take

[2022-08-05 18:11] agviegas commented on #39
### 🟢🟢🟢

Hi, @agviegas! Thanks for taking this bounty! The due date is August 26, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not need

[2022-08-05 18:11] agviegas commented on #39
::drop

[2022-08-05 18:11] agviegas commented on #39
### 🟢🟢🟢

Hi, @agviegas! Thanks for giving it a try! It’s now once again available for anyone to take.

[2022-08-05 18:12] aka-blackboots commented on #39
::take

[2022-08-05 18:12] agviegas commented on #39
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for taking this bounty! The due date is August 26, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do no

[2022-08-07 17:00] agviegas commented on #38
@HassanEmam try using take again! I'll review the PR right away :)

[2022-08-07 17:07] HassanEmam commented on #38
::take

[2022-08-07 17:07] agviegas commented on #34
### 🟢🟢🟢

Hi, @seantai ! Thanks for your contributions! Please submit an expense to IFC.js Open Collective. Then, tell us the invoice number via the `::expense::_____` command (replace the `_____` with the invoice number).

[2022-08-07 17:09] agviegas commented on #31
I'm freing this again!

[2022-08-07 17:10] agviegas commented on #31
::take

[2022-08-07 17:10] agviegas commented on #31
### 🟢🟢🟢

Hi, @agviegas! Thanks for taking this bounty! The due date is August 28, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not need

[2022-08-07 17:12] agviegas commented on #30
Hi @rfdiazpr can you please use the command `::take`? Just make a comment with that command. It will help us automate the management of this issue. Cheers!

[2022-08-07 17:13] aka-blackboots commented on #31
Hey @agviegas, if this free and you could let me know a little more in detail what needs to be done. I would like to take on this bounty. I will connect with you on discord.

[2022-08-07 17:14] agviegas commented on #31
::drop

[2022-08-07 17:14] agviegas commented on #31
### 🟢🟢🟢

Hi, @agviegas! Thanks for giving it a try! It’s now once again available for anyone to take.

[2022-08-07 17:14] agviegas commented on #38
::take

[2022-08-07 17:14] agviegas commented on #38
### 🟢🟢🟢

Hi, @agviegas! Thanks for taking this bounty! The due date is August 28, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not need

[2022-08-07 17:14] agviegas commented on #38
::drop

[2022-08-07 17:14] agviegas commented on #38
### 🟢🟢🟢

Hi, @agviegas! Thanks for giving it a try! It’s now once again available for anyone to take.

[2022-08-07 17:15] agviegas commented on #38
@HassanEmam now it works 😅 sorry, we just set this up. Try one last time! Thanks in advance.

[2022-08-07 17:16] agviegas commented on #31
@aka-blackboots sure! Use the take command and it's all yours :)

[2022-08-07 17:25] HassanEmam commented on #38
::take

[2022-08-07 17:25] agviegas commented on #38
### 🟢🟢🟢

Hi, @HassanEmam! Thanks for taking this bounty! The due date is August 28, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not ne

[2022-08-07 17:26] HassanEmam commented on #38
Great it seems working now

[2022-08-07 17:27] aka-blackboots commented on #31
::take

[2022-08-07 17:27] agviegas commented on #31
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for taking this bounty! The due date is August 28, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do no

[2022-08-07 17:30] agviegas commented on #26
Hey @nicoarellano we are now automating the handling of bounties. Please, make a comment containing just the following text: `::take`. That will assing the bounty to you. Otherwise, I'll just free this again. Thanks!

[2022-08-07 17:35] agviegas commented on #25
Hey @AnweshGangula did you submit the expense for OpenCollective for this? You'll need to do it in order to get the money for this bounty 🙂 Cheers!

[2022-08-07 17:38] rfdiazpr commented on #30
::take

[2022-08-07 17:38] agviegas commented on #30
### 🟢🟢🟢

Hi, @rfdiazpr! Thanks for taking this bounty! The due date is August 28, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not need

[2022-08-08 09:40] Jsanchez4 commented on #47
::take

[2022-08-08 09:40] agviegas commented on #47
### 🟢🟢🟢

Hi, @Jsanchez4! Thanks for taking this bounty! The due date is August 29, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not nee

[2022-08-10 09:38] #44 closed

[2022-08-11 13:08] seantai commented on #34
::expense::#90018

[2022-08-13 18:17] agviegas opened #76 "B#72: Answer questions in Discord (1 month)"
## ☀ Info

- Bounty: $200
- Area: Management
- Required skills: Three.js, JavaScript, IFC.js
- Manager: @agviegas
- Bounties page: https://bounties.ifcjs.io

## 📜 Notes

⚔ CHALLENGE:

With the growing IFC.js community, there are more and more people with questions on the Discord channel. However, answering each and every question ourselves takes away time that could be spent on further development

[2022-08-13 18:17] agviegas commented on #76
## 🤖 Bounty Bot

To interact with the bounty bot to manipulate this bounty, send a comment that only contains one of these commands:

### ::take

Assign yourself to the bounty. The due date of your assignment is the next 21st date UTC.

Requirements:
- Sender: Anyone
- Status: Available

### ::extend

Extend the due date by 21 days. Can only be done once.

Requirements:
- Sender: Assignee
- Status

[2022-08-13 18:32] awsdang commented on #76
::take

[2022-08-13 18:32] agviegas commented on #76
### 🟢🟢🟢

Hi, @awsdang! Thanks for taking this bounty! The due date is September 3, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not nee

[2022-08-13 18:38] agviegas commented on #76
Thanks a lot for taking this @awsdang ! You can use the `::extend` command to make this bounty last one month (by defult they last 2 weeks). 🚀 Talk to you in Discord!

[2022-08-14 13:38] awsdang commented on #76
::extend

[2022-08-14 13:38] agviegas commented on #76
### 🟢🟢🟢

Hi, @awsdang! The due date is successfully extended by 21 days to September 24, 2022 UTC.

[2022-08-17 00:51] rrdls commented on #26
::take

[2022-08-17 00:51] agviegas commented on #26
### 🟢🟢🟢

Hi, @rrdls! Thanks for taking this bounty! The due date is September 7, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not need

[2022-08-18 17:55] TxTony commented on #36
Hi,
you mean the hello  world tuto should cover something like this :
- display a list of spaces
- select a space display its informations
- display result on screen with "wondeful html + css "  :)
-
![image](https://user-images.githubusercontent.com/9210019/185460711-f55a56a6-6f45-4891-a589-9287cd00b3b7.png)

PS : i've displayed the information in my console to make this fast

[2022-08-20 09:12] TxTony commented on #36
Can I take the issue i'll make a PR today or this week. if i can't release it the next week for any reason  i'll tell you.

to summup i just have to show how to
- setting up the project
- load a model with web-ifc ( by input file or http request doesn't matter )
- show the ifcApi can grab a line to conclude
- display the result in a html page ( don't need to style it )

Other basic and advanced tu

[2022-08-21 17:19] agviegas commented on #36
::take

[2022-08-21 17:19] agviegas commented on #36
### 🟢🟢🟢

Hi, @agviegas! Thanks for taking this bounty! The due date is September 11, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not n

[2022-08-21 17:20] agviegas commented on #36
::drop

[2022-08-21 17:20] agviegas commented on #36
### 🟢🟢🟢

Hi, @agviegas! Thanks for giving it a try! It’s now once again available for anyone to take.

[2022-08-21 17:22] agviegas commented on #36
@TxTony sure! Just use the ::take command like I did and it's yours. You need to set up the full example [in the examples repo](https://github.com/IFCjs/hello-world) and the tutorial with the step-by-step in this repo. If you see other tutorials, you'll see that we create a component that references the URL of the example repo app.

Indeed, bounties more advanced tutorials will be released soon 🙂

[2022-08-22 09:46] TxTony commented on #36
::take

[2022-08-22 09:46] agviegas commented on #36
### 🟢🟢🟢

Hi, @TxTony! Thanks for taking this bounty! The due date is September 12, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not nee

[2022-08-23 10:52] agviegas opened #80 "B#74: Marketing content creation (1 month)"
## ☀ Info

- Bounty: $500
- Area: Management
- Required skills: Three.js, JavaScript, IFC.js
- Manager: @agviegas
- Bounties page: https://bounties.ifcjs.io

## 📜 Notes

⚔ CHALLENGE:

We have developed a content creation strategy and are looking for someone to collaborate with copywriting. We have two channels to spread the content. Our social networks (Linkedin and Twitter) and our weekly newslet

[2022-08-23 10:52] agviegas commented on #80
## 🤖 Bounty Bot

To interact with the bounty bot to manipulate this bounty, send a comment that only contains one of these commands:

### ::take

Assign yourself to the bounty. The due date of your assignment is the next 21st date UTC.

Requirements:
- Sender: Anyone
- Status: Available

### ::extend

Extend the due date by 21 days. Can only be done once.

Requirements:
- Sender: Assignee
- Status

[2022-08-23 10:56] Pragya08Kankaria commented on #80
::take

[2022-08-23 10:56] agviegas commented on #80
### 🟢🟢🟢

Hi, @Pragya08Kankaria! Thanks for taking this bounty! The due date is September 13, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you

[2022-08-25 21:55] HassanEmam commented on #38
@agviegas I have created PR on both repos for documentation and examples and did not get any feedback

[2022-08-27 16:32] agviegas commented on #38
🟢🟢🟢

Hi, @HassanEmam! Thanks for your contributions! Please submit an expense to IFC.js Open Collective. Then, tell us the invoice number via the `::expense::_____` command (replace the `_____` with the invoice number).

[2022-08-27 16:41] HassanEmam commented on #38
::expense::91978

[2022-08-27 16:41] agviegas commented on #38
### 🟢🟢🟢

Hi, @HassanEmam! Thanks for the confirmation! We’ll proceed to review the expense. Once it’s approved, the payment will be scheduled.

[2022-08-27 16:41] agviegas commented on #38
### 🟢🟢🟢

Hi, @HassanEmam! Your [expense](https://opencollective.com/ifcjs/expenses/91978) has been approved!

[2022-08-27 16:46] agviegas commented on #45
🟢🟢🟢

Hi, @pkpndy! Thanks for your contributions! Please submit an expense to IFC.js Open Collective. Then, tell us the invoice number via the `::expense::_____` command (replace the `_____` with the invoice number).

[2022-08-27 17:12] agviegas commented on #47
🟢🟢🟢

Hi, @Jsanchez4! Thanks for your contributions! Please submit an expense to IFC.js Open Collective. Then, tell us the invoice number via the `::expense::_____` command (replace the `_____` with the invoice number).

[2022-08-27 17:49] agviegas commented on #39
🟢🟢🟢

Hi, @aka-blackboots! Thanks for your contributions! Please submit an expense to IFC.js Open Collective. Then, tell us the invoice number via the `::expense::_____` command (replace the `_____` with the invoice number).

[2022-08-27 17:53] agviegas commented on #31
🟢🟢🟢

Hi, @aka-blackboots! Thanks for your contributions! Please submit an expense to IFC.js Open Collective. Then, tell us the invoice number via the `::expense::_____` command (replace the `_____` with the invoice number).

[2022-08-27 17:56] agviegas commented on #36
🟢🟢🟢

Hi, @TxTony! Thanks for your contributions! Please submit an expense to IFC.js Open Collective. Then, tell us the invoice number via the `::expense::_____` command (replace the `_____` with the invoice number).

[2022-08-27 18:41] agviegas commented on #32
Hi, @arunkvijay! Thanks for your contributions! Please submit an expense to IFC.js Open Collective. Then, tell us the invoice number via the ::expense::_____ command (replace the _____ with the invoice number).

[2022-08-27 18:42] agviegas commented on #32
::done

[2022-08-27 18:42] agviegas commented on #32
### 🟢🟢🟢

Hi, @arunkvijay! Thanks for your contributions! Please submit an expense to IFC.js Open Collective. Then, tell us the invoice number via the `::expense::_____` command (replace the `_____` with the invoice number).

[2022-08-27 18:45] #27 closed

[2022-08-27 18:46] #28 closed

[2022-08-28 00:00] agviegas commented on #46
### 🔴🔴🔴

Hi, @pratik2315! The date is past due, your assignment has been revoked. It’s now available for anyone to take.

[2022-08-28 03:23] pkpndy commented on #46
::take

[2022-08-28 03:23] agviegas commented on #46
### 🟢🟢🟢

Hi, @pkpndy! Thanks for taking this bounty! The due date is September 18, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not nee

[2022-08-28 17:49] aka-blackboots commented on #39
::expense::92038

[2022-08-28 17:49] agviegas commented on #39
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for the confirmation! We’ll proceed to review the expense. Once it’s approved, the payment will be scheduled.

[2022-08-28 17:52] aka-blackboots commented on #31
::expense::92039

[2022-08-28 17:52] agviegas commented on #31
### 🟢🟢🟢

Hi, @aka-blackboots! Thanks for the confirmation! We’ll proceed to review the expense. Once it’s approved, the payment will be scheduled.

[2022-08-29 00:00] agviegas commented on #30
### 🔴🔴🔴

Hi, @rfdiazpr! The date is past due, your assignment has been revoked. It’s now available for anyone to take.

[2022-08-29 00:24] rfdiazpr commented on #30
::take

[2022-08-29 00:24] agviegas commented on #30
### 🟢🟢🟢

Hi, @rfdiazpr! Thanks for taking this bounty! The due date is September 19, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not n

[2022-08-29 00:25] rfdiazpr commented on #30
@agviegas I just "uploaded" the files. let me know your comments.

[2022-08-29 03:52] pkpndy commented on #45
::expense::92063

[2022-08-29 03:52] agviegas commented on #45
### 🟢🟢🟢

Hi, @pkpndy! Thanks for the confirmation! We’ll proceed to review the expense. Once it’s approved, the payment will be scheduled.

[2022-08-29 18:53] agviegas opened #83 "B#55: web-ifc-viewer: WebXR tutorial"
## ☀ Info

- Bounty: $200
- Area: Docs
- Required skills: Three.js
- Manager: @agviegas
- Bounties page: https://bounties.ifcjs.io

## 📜 Notes

⚔ CHALLENGE:

We need more tutorials to show to the world how to use IFC.js and what can they do with it. We already have some tutorials in the documentation, so this is just a matter of creating a new one. For example:

- https://ifcjs.github.io/info/docs

[2022-08-29 18:53] agviegas commented on #83
## 🤖 Bounty Bot

To interact with the bounty bot to manipulate this bounty, send a comment that only contains one of these commands:

### ::take

Assign yourself to the bounty. The due date of your assignment is the next 21st date UTC.

Requirements:
- Sender: Anyone
- Status: Available

### ::extend

Extend the due date by 21 days. Can only be done once.

Requirements:
- Sender: Assignee
- Status

[2022-08-29 18:54] craigliesinger commented on #83
I set this up in tutorial and in viewer so I will gladly take this and aim to complete in the next 2 weeks latest ::take

[2022-08-29 18:55] agviegas commented on #83
::take

[2022-08-29 18:55] agviegas commented on #83
### 🟢🟢🟢

Hi, @agviegas! Thanks for taking this bounty! The due date is September 19, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not n

[2022-08-29 18:55] agviegas commented on #83
::drop

[2022-08-29 18:55] agviegas commented on #83
### 🟢🟢🟢

Hi, @agviegas! Thanks for giving it a try! It’s now once again available for anyone to take.

[2022-08-29 18:56] craigliesinger commented on #83
::take

[2022-08-29 18:56] agviegas commented on #83
### 🟢🟢🟢

Hi, @craigliesinger! Thanks for taking this bounty! The due date is September 19, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do

[2022-08-29 18:56] craigliesinger commented on #83
I will take this as I did the VR example and in viewer.

[2022-08-30 06:55] TxTony commented on #36
::expense::92190

[2022-08-30 06:55] agviegas commented on #36
### 🟢🟢🟢

Hi, @TxTony! Thanks for the confirmation! We’ll proceed to review the expense. Once it’s approved, the payment will be scheduled.

[2022-09-02 11:50] arunkvijay commented on #32
::expense::92720

[2022-09-02 11:50] agviegas commented on #32
### 🟢🟢🟢

Hi, @arunkvijay! Thanks for the confirmation! We’ll proceed to review the expense. Once it’s approved, the payment will be scheduled.

[2022-09-02 21:01] agviegas commented on #38
### 🎉🎉🎉

Hi, @HassanEmam! Thanks for your contributions! The reward of this bounty has been transferred to your Open Collective account.

[2022-09-02 21:01] #38 closed

[2022-09-04 17:10] agviegas commented on #32
### 🟢🟢🟢

Hi, @arunkvijay! Your [expense](https://opencollective.com/ifcjs/expenses/92720) has been approved!

[2022-09-04 17:10] agviegas commented on #36
### 🟢🟢🟢

Hi, @TxTony! Your [expense](https://opencollective.com/ifcjs/expenses/92190) has been approved!

[2022-09-04 17:10] agviegas commented on #45
### 🟢🟢🟢

Hi, @pkpndy! Your [expense](https://opencollective.com/ifcjs/expenses/92063) has been approved!

[2022-09-04 17:11] agviegas commented on #31
### 🟢🟢🟢

Hi, @aka-blackboots! Your [expense](https://opencollective.com/ifcjs/expenses/92039) has been approved!

[2022-09-04 17:11] agviegas commented on #39
### 🟢🟢🟢

Hi, @aka-blackboots! Your [expense](https://opencollective.com/ifcjs/expenses/92038) has been approved!

[2022-09-08 00:00] agviegas commented on #26
### 🔴🔴🔴

Hi, @rrdls! The date is past due, your assignment has been revoked. It’s now available for anyone to take.

[2022-09-08 01:27] agviegas commented on #26
### 🟢🟢🟢

Hi, @rrdls! Thanks for taking this bounty! The due date is September 29, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not need

[2022-09-12 10:32] agviegas commented on #32
### 🟢🟢🟢

Hi, @arunkvijay! Your [expense](https://opencollective.com/ifcjs/expenses/92720) has been approved!

[2022-09-12 10:32] agviegas commented on #45
### 🟢🟢🟢

Hi, @pkpndy! Your [expense](https://opencollective.com/ifcjs/expenses/92063) has been approved!

[2022-09-12 15:45] agviegas commented on #39
### 🎉🎉🎉

Hi, @aka-blackboots! Thanks for your contributions! The reward of this bounty has been transferred to your Open Collective account.

[2022-09-12 15:45] agviegas commented on #31
### 🎉🎉🎉

Hi, @aka-blackboots! Thanks for your contributions! The reward of this bounty has been transferred to your Open Collective account.

[2022-09-12 15:45] #31 closed

[2022-09-12 15:45] #39 closed

[2022-09-14 03:55] Pragya08Kankaria commented on #80
::take

[2022-09-14 03:55] agviegas commented on #80
### 🟢🟢🟢

Hi, @Pragya08Kankaria! Thanks for taking this bounty! The due date is October 5, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do

[2022-09-15 07:57] #80 closed

[2022-09-16 08:03] agviegas commented on #36
### 🎉🎉🎉

Hi, @TxTony! Thanks for your contributions! The reward of this bounty has been transferred to your Open Collective account.

[2022-09-16 08:03] #36 closed

[2022-09-16 08:41] pkpndy commented on #46
::extend

[2022-09-16 08:41] agviegas commented on #46
### 🟢🟢🟢

Hi, @pkpndy! The due date is successfully extended by 21 days to October 9, 2022 UTC.

[2022-09-18 17:28] agviegas commented on #32
### 🟢🟢🟢

Hi, @arunkvijay! Your [expense](https://opencollective.com/ifcjs/expenses/92720) has been approved!

[2022-09-18 17:28] agviegas commented on #45
### 🟢🟢🟢

Hi, @pkpndy! Your [expense](https://opencollective.com/ifcjs/expenses/92063) has been approved!

[2022-09-19 21:04] agviegas commented on #32
### 🎉🎉🎉

Hi, @arunkvijay! Thanks for your contributions! The reward of this bounty has been transferred to your Open Collective account.

[2022-09-19 21:04] #32 closed

[2022-09-20 00:00] agviegas commented on #83
### 🔴🔴🔴

Hi, @craigliesinger! The date is past due, your assignment has been revoked. It’s now available for anyone to take.

[2022-09-20 00:00] agviegas commented on #30
### 🔴🔴🔴

Hi, @rfdiazpr! The date is past due, your assignment has been revoked. It’s now available for anyone to take.

[2022-09-20 01:57] rfdiazpr commented on #30
::take

[2022-09-20 01:57] agviegas commented on #30
### 🟢🟢🟢

Hi, @rfdiazpr! Thanks for taking this bounty! The due date is October 11, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not nee

[2022-09-20 02:00] rfdiazpr commented on #30
@agviegas Please review it
I will also create a new one using 𝐅𝐫𝐚𝐠𝐦𝐞𝐧𝐭𝐬 .

[2022-09-20 05:56] TxTony commented on #30
@rfdiazpr you should make a PR named ` B#9 web-ifc-viewer Floorplans Tutorial #30`.  And don't forget to PR your code sample  to the exemples repository with a comment with the link to this issue. It will make their works easier ;). By the way they have published something about bounties handling. https://ifcjs.github.io/info/docs/Guide/Handling%20bounties

[2022-09-20 11:28] TxTony commented on #83
::take

[2022-09-20 11:28] agviegas commented on #83
### 🟢🟢🟢

Hi, @TxTony! Thanks for taking this bounty! The due date is October 11, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not need

[2022-09-20 11:29] craigliesinger commented on #83
@agviegas , I have a PR open for 18 days now that would have satisfied this bounty.

[2022-09-20 13:05] rfdiazpr commented on #30
@TxTony Thanks.

[2022-09-21 18:17] agviegas commented on #83
Sorry, my bad! It's merged now @craigliesinger. Thanks a lot and sorry for the delay! 🙏

[2022-09-21 18:17] agviegas commented on #83
::done

[2022-09-21 18:17] agviegas commented on #83
### 🟢🟢🟢

Hi, @TxTony! Thanks for your contributions! Please submit an expense to IFC.js Open Collective. Then, tell us the invoice number via the `::expense::_____` command (replace the `_____` with the invoice number).

[2022-09-21 18:19] agviegas commented on #30
🟢🟢🟢

Hi, @rfdiazpr! Thanks for your contributions! Please submit an expense to IFC.js Open Collective. Then, tell us the invoice number via the `::expense::_____` command (replace the `_____` with the invoice number).

[2022-09-22 06:35] craigliesinger commented on #83
::expense::96861

[2022-09-22 06:37] craigliesinger commented on #83
@agviegas , no worries on the delay - I just got worried when I saw it got unassigned based on a timer and someone else take assignment for work already done.  I'm happy to have contributed!

[2022-09-23 00:45] rfdiazpr commented on #30
::expense::96952

[2022-09-23 00:45] agviegas commented on #30
### 🟢🟢🟢

Hi, @rfdiazpr! Thanks for the confirmation! We’ll proceed to review the expense. Once it’s approved, the payment will be scheduled.

[2022-09-23 02:49] agviegas commented on #45
### 🟢🟢🟢

Hi, @pkpndy! Your [expense](https://opencollective.com/ifcjs/expenses/92063) has been approved!

[2022-09-23 15:44] agviegas commented on #45
### 🎉🎉🎉

Hi, @pkpndy! Thanks for your contributions! The reward of this bounty has been transferred to your Open Collective account.

[2022-09-23 15:44] #45 closed

[2022-09-25 00:00] agviegas commented on #76
### 🔴🔴🔴

Hi, @awsdang! The date is past due, your assignment has been revoked. It’s now available for anyone to take.

[2022-09-25 10:21] awsdang commented on #76
::extend

[2022-09-25 10:35] awsdang commented on #76
::take

[2022-09-25 10:35] agviegas commented on #76
### 🟢🟢🟢

Hi, @awsdang! Thanks for taking this bounty! The due date is October 16, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not need

[2022-09-26 06:23] pkpndy commented on #46
Hi @agviegas I have submitted a Pull Request.
Please review it and merge it or suggest necessary changes.
Thankyou

[2022-09-26 06:42] agviegas commented on #46
Merged! Next time, try to name the PR with the same name as this issue. You can now finish this with the `::done` command.

[2022-09-26 06:49] pkpndy commented on #46
Will do it from next time, thanks.

[2022-09-26 06:49] pkpndy commented on #46
::done

[2022-09-26 06:51] pkpndy commented on #46
::done

[2022-09-26 07:16] agviegas commented on #30
### 🟢🟢🟢

Hi, @rfdiazpr! Your [expense](https://opencollective.com/ifcjs/expenses/96952) has been approved!

[2022-09-26 10:17] pkpndy commented on #46
@agviegas I think `::done` is not working for me, is it because I didn't use PR name same as issue?

[2022-09-28 09:02] agviegas commented on #46
::done

[2022-09-28 09:03] agviegas commented on #46
@pkpndy simply create the expense in opencollective and we'll approve it!

[2022-09-28 09:03] agviegas commented on #46
### 🟢🟢🟢

Hi, @pkpndy! Thanks for your contributions! Please submit an expense to IFC.js Open Collective. Then, tell us the invoice number via the `::expense::_____` command (replace the `_____` with the invoice number).

[2022-09-28 10:22] pkpndy commented on #46
::expense::97877

[2022-09-28 10:22] agviegas commented on #46
### 🔴🔴🔴

Hi, @pkpndy! We cannot find a new expense with that invoice number. Please re-check the invoice number and re-send the command using the correct one.

[2022-09-29 07:41] izznatsir commented on #29
::expense::98352

[2022-09-29 07:41] agviegas commented on #29
### 🟢🟢🟢

Hi, @izznatsir! Thanks for the confirmation! We’ll proceed to review the expense. Once it’s approved, the payment will be scheduled.

[2022-09-30 00:00] agviegas commented on #26
### 🔴🔴🔴

Hi, @rrdls! The date is past due, your assignment has been revoked. It’s now available for anyone to take.

[2022-09-30 00:43] ChenChihYuan commented on #26
::take

[2022-09-30 00:43] agviegas commented on #26
### 🟢🟢🟢

Hi, @ChenChihYuan! Thanks for taking this bounty! The due date is October 21, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not

[2022-10-03 15:44] #46 closed

[2022-10-03 15:46] #47 closed

[2022-10-03 15:46] #34 closed

[2022-10-03 15:48] agviegas commented on #29
### 🟢🟢🟢

Hi, @izznatsir! Your [expense](https://opencollective.com/ifcjs/expenses/98352) has been approved!

[2022-10-04 15:46] agviegas commented on #29
### 🎉🎉🎉

Hi, @izznatsir! Thanks for your contributions! The reward of this bounty has been transferred to your Open Collective account.

[2022-10-17 00:00] agviegas commented on #76
### 🔴🔴🔴

Hi, @awsdang! The date is past due, your assignment has been revoked. It’s now available for anyone to take.

[2022-10-17 15:19] DuncanLithgow opened #91 "Cross-promotion addition to section #ifcjs-to-the-rescue"
https://ifcjs.github.io/info/docs/Introduction#ifcjs-to-the-rescue

#ifcjs-to-the-rescue

It wouldn't make sense for all developers to have to implement their own IFC file reader and writer for their applications. Especially when we all want the same thing: **importing and exporting geometry and data**.

++ This is where [Open Source software libraries](https://wiki.osarch.org/index.php?title=IFC_

[2022-10-22 00:00] agviegas commented on #26
### 🔴🔴🔴

Hi, @ChenChihYuan! The date is past due, your assignment has been revoked. It’s now available for anyone to take.

[2022-10-22 05:01] pratik2315 commented on #26
::take

[2022-10-22 05:01] agviegas commented on #26
### 🟢🟢🟢

Hi, @pratik2315! Thanks for taking this bounty! The due date is November 12, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not

[2022-11-13 00:00] agviegas commented on #26
### 🔴🔴🔴

Hi, @pratik2315! The date is past due, your assignment has been revoked. It’s now available for anyone to take.

[2022-11-15 07:53] ChenChihYuan commented on #26
hi, regarding to this issue. Though there're some examples out there seems doable. I think this issue is not that easy for just a frontend work. I happen to work with cesium as a partner company, and had a chance to dive deep into there cpp backend code. The data pipeline, streaming .... stuffs needed to be tweaked first in order to combine with ifc.js, that what I thought.  If there's some exampl

[2022-11-22 01:02] arunkvijay commented on #26
::take

[2022-11-22 01:02] agviegas commented on #26
### 🟢🟢🟢

Hi, @arunkvijay! Thanks for taking this bounty! The due date is December 13, 2022 UTC.

If you need to submit some pull requests (PR) to complete the tasks, make sure that the last and only the last PR has a title that either starts with the bounty ID or is exactly the same as the bounty name. After the PR is merged, this bounty’s status will automatically changed to done.

If you do not